.DS_Store
.temp
.vscode
cache
.eslintcache

node_modules/
main/node_modules/
web/vue-demo/node_modules/
web/react-demo/node_modules/
dist/
main/dist
web/vue-demo/dist/
web/react-demo/dist/

# local env files
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*